{% extends 'base.html.twig' %}

{% block title %}Valider votre compte!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello bakary ✅</h1>

    <p>Vous avez presque fini, veuiller vous rendre dans votre email et valider votre compte</p>
</div>
{% endblock %}
